/tensorflowmodel.h5
/historyh5.pkl
/pytorchnormalfe.pkl
/pytrochnomralimage.pkl
/tensoflownormalfe.pkl
/tensorflonormalimage.pkl
/pytrochccbrFE.pkl
/pytorchccbrImage.pkl
/tensorflowccbrFE.pkl
/tensorflowccbrImage.pkl
/pytmodel.pth
/historypth.pkl
